[submodule "datazen"]
	path = datazen
	url = git@github.com:vkottler/datazen.git
[submodule "keybinds"]
	path = keybinds
	url = git@github.com:vkottler/keybinds.git
[submodule "config"]
	path = config
	url = git@github.com:vkottler/config.git
[submodule "vmklib"]
	path = vmklib
	url = git@github.com:vkottler/vmklib.git
[submodule "vtelem"]
	path = vtelem
	url = git@github.com:vkottler/vtelem.git
[submodule "vkottler.github.io"]
	path = vkottler.github.io
	url = git@github.com:vkottler/vkottler.github.io.git
[submodule "console"]
	path = console
	url = git@github.com:vkottler/console.git
[submodule "python-package-template"]
	path = python-package-template
	url = git@github.com:vkottler/python-package-template.git
[submodule "svgen"]
	path = svgen
	url = git@github.com:vkottler/svgen.git
[submodule "vcorelib"]
	path = vcorelib
	url = git@github.com:vkottler/vcorelib.git
[submodule "setuptools-wrapper"]
	path = setuptools-wrapper
	url = git@github.com:vkottler/setuptools-wrapper.git
[submodule "vkottler"]
	path = vkottler
	url = git@github.com:vkottler/vkottler.git
[submodule "video-production"]
	path = video-production
	url = git@github.com:vkottler/video-production.git
[submodule "music"]
	path = music
	url = git@github.com:vkottler/music.git
[submodule "runtimepy"]
	path = runtimepy
	url = git@github.com:vkottler/runtimepy.git
[submodule "typescript-package-template"]
	path = typescript-package-template
	url = git@github.com:vkottler/typescript-package-template.git
[submodule "rcmpy"]
	path = rcmpy
	url = git@github.com:vkottler/rcmpy.git
