[submodule "datazen"]
	path = datazen
	url = git@github.com:vkottler/datazen.git
[submodule "mk"]
	path = mk
	url = git@github.com:vkottler/mk.git
[submodule "keybinds"]
	path = keybinds
	url = git@github.com:vkottler/keybinds.git
[submodule "config"]
	path = config
	url = git@github.com:vkottler/config.git
[submodule "vmklib"]
	path = vmklib
	url = git@github.com:vkottler/vmklib.git
[submodule "vtelem"]
	path = vtelem
	url = git@github.com:vkottler/vtelem.git
[submodule "vkottler.github.io"]
	path = vkottler.github.io
	url = git@github.com:vkottler/vkottler.github.io.git
